.collection {
  background-color: var(--main-bg-color);
  position: absolute;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  height: 100%;
  align-items: center;

  &__h1 {
    text-align: center;
    font-weight: 100;
    font-family: var(--font-eng-emphasis);
    font-size: 25px;
  }
  &__h2 {
    text-align: left;
  }

  &__row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__col1 {
    border: 1px solid black;
    grid-area: 1/1/2/2;
    width: 70px;
    height: 70px;
    background-color: white;
    filter: drop-shadow(7px 7px 0px #000);
  }
  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    color: gray;
  }
  &__nickname {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
  }
  &__nicknameChange {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 100;
    color: gray;
    border: none;
    background-color: transparent;
    text-decoration: underline;
  }
  &__nicknameChange:hover {
    cursor: pointer;
  }
  &__modal {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__nicknameForm {
    border: none;
    border-bottom: 1px solid black;
    margin: 30px;
    width: 200px;
    height: 30px;
  }
  &__nickButton {
    background-color: black;
    color: var(--point-color);
    width: 80px;
    height: 30px;
    border: none;
  }
}

.detail {
  background-color: var(--main-bg-color);
  position: absolute;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  height: 100%;
  align-items: center;

  &__back {
    background-color: transparent;
    border: none;
    color: gray;
    margin: 50px;
    text-decoration: none;
  }
  &__save {
    background-color: transparent;
    border: none;
    color: gray;
    margin: 50px;
    position: fixed;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__save:hover {
    cursor: pointer;
  }
  &__title {
    margin-bottom: 30px;
    font-size: 25px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  &__col2 {
    border: 1px solid black;
    grid-area: 1/1/2/2;
    width: 170px;
    height: 170px;
    background-color: white;
    filter: drop-shadow(7px 7px 0px #000);
  }
}
.loading {
  height: 5px;
  width: 5px;
  color: black;
  box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px;
  animation: loader-38 6s infinite;
  @keyframes loader-38 {
    0% {
      box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px;
    }
    8.33% {
      box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px -10px 0 5px, 10px -10px 0 5px;
    }
    16.66% {
      box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px;
    }
    24.99% {
      box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px, -10px 10px 0 5px;
    }
    33.32% {
      box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px, -10px -10px 0 5px;
    }
    41.65% {
      box-shadow: 10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px, 10px -10px 0 5px;
    }
    49.98% {
      box-shadow: 10px 10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px;
    }
    58.31% {
      box-shadow: -10px 10px 0 5px, -10px 10px 0 5px, 10px 10px 0 5px, -10px 10px 0 5px;
    }
    66.64% {
      box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, 10px 10px 0 5px, -10px 10px 0 5px;
    }
    74.97% {
      box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px, -10px 10px 0 5px;
    }
    83.3% {
      box-shadow: -10px -10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px, -10px 10px 0 5px;
    }
    91.63% {
      box-shadow: -10px -10px 0 5px, -10px 10px 0 5px, -10px 10px 0 5px, -10px 10px 0 5px;
    }
    100% {
      box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px;
    }
  }
}

.klip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__h2 {
    margin-top: 100px;
    text-align: center;
  }
  &__button {
    width: 100px;
    height: 30px;
    border: none;
    background-color: black;
    color: var(--point-color);
  }
  &__buttons {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  &__button:hover {
    background-color: var(--point-color);
    color: black;
    cursor: pointer;
  }

  &__QR {
    margin-top: -100px;
  }
}
